<manifest package="com.example.shoplive_ng">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="ShopLive NG"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
